# 2. 위에서 아래로

하나의 수열에는 다양한 수가 존재하고 크기 상관없이 나열  
내림차순으로 정렬하는 프로그램을 만드시오

- 입력 조건  
첫째 줄에 수열이 속해 있는 수의 개수 N이 주어짐(1이상 500이하)  
둘때 줄에 N+1번째 줄까지 N개의 수가 입력 1이상 100000이하의 자연수

- 출력 조건  
내림차순으로 정렬된 결과를 공백으로 구분, 동일한 수의 순서는 자유롭게

In [1]:
n=int(input())

3

In [2]:
array=[]
for i in range(n):
    array.append(int(input()))

15
27
12

In [3]:
array=sorted(array,reverse=True)
for i in array:
    print(i , end=' ')

27 15 12

# 3. 성적이 낮은 순서대로 학생 출력하기

N명의 학생 정보(이름, 성적)가 있을 때 성적이 낮은 순서대로 학생의 이름을 출력하는 프로그램을 만드시오

- 입력 조건  
첫 번째 줄에 학생의 수 N이 입력(1이상 100000이하)  
두 번째 줄부터 N+1번째 줄에는 학생의 이름을 나타내는 문자열 A와 학생의 성적을 나타내는 정수 B가 공백으로 구분되어 입력   
A,B는 100이하

- 출력 조건  
모든 학생의 이름을 성적이 낮은 순서대로 출력하고 동일한 성적은 자유롭게

In [4]:
n=int(input())

2

In [5]:
array=[]
for i in range(n):
    input_data=input().split()
    array.append((input_data[0],int(input_data[1])))

홍길동 95
이순신 77

In [6]:
array=sorted(array,key=lambda student: student[1])
for student in array:
    print(student[0], end=' ')

이순신 홍길동

# 4. 두 배열의 원소 교체

두 개의 배열 A와 B가 있음  
두 배열은 N개의 원소로 구성되어 있고, 모두 자연수  
k번 바꿔치기 연산 수행

바꿔치기 연산은 배열 A에 있는 원소 하나와 배열 B에 있는 원소 하나를 골라서 두 원소를 서로 바꾸는 것

배열 A의 원소 합이 최대가 되도록 하는 것이 목표

N,K,그리고 배열 A,B의 정보가 주어졌을 때 최대 K번의 바꿔치기 연산을 수행하여 만들 수 있는 배열 A의 모든 원소 합의 최댓값을 출력하는 프로그램을 작성하시오

- 입력 조건  
첫 번째 줄에 N(1이상 100000이하).K(0이상 N이하)가 공백으로 구분되어 입력  
두 번째 줄에 배열 A의 원소들이 공백으로 구분되어 입력  
세 번째 줄에 배열 B의 원소들이 공백으로 구분되어 입력

- 출력 조건  
k번 바꿔치기 연산을 수행하여 만들 수 있는 배열 A의 모든 원소의 합의 최댓값을 출력

In [8]:
n,k=map(int,input().split())

5 3

In [9]:
a=list(map(int,input().split()))

 1 2 5 4 3

In [10]:
b=list(map(int,input().split()))

5 5 6 6 5

In [11]:
a.sort()
b.sort(reverse=True)

In [12]:
for i in range(k):
    if a[i]<b[i]:
        a[i],b[i]=b[i],a[i]
    else:
        break
print(sum(a))

26